
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <title>Login</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:  seagreen;
  font-size: 25px;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: left;
  font-size: 10px;
}

/* Create three equal columns that floats next to each other */
.column {
  /*float: left;*/
  width: 20%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  border: 2px solid green;
  border-radius: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: right;
  font-size: 10px;
}
#box{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 80%;
    height: 50%;
    background:#f1f1f1;

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>



<h3></h3>


<br>
<br>


<p style = "font-family:Arial, Helvetica, sans-serif;font-size:100px; color:MediumSeaGreen;font-style:bold;background:lightgreen;">
    MUST LOVE DOGS</p><p> <iframe src="https://giphy.com/embed/4Zo41lhzKt6iZ8xff9" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/4Zo41lhzKt6iZ8xff9">via GIPHY</a></p>
<p style = "font-family:georgia,garamond,serif;font-size:30px;font-style:italic;background:lightgreen;">


We love your dog as much as you do!!
</p>

<header>
<div class="header">
  <h5>Login</h5>
  <% if flash[:unauthenticated] %>
    <p style="color:red;"><%= flash[:unauthenticated] %></p>
  <% end %>

  <%= form_tag("/sessions") do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= submit_tag "Log in" %>
  <% end %><br>

  <h5> New User?</h5> <%= button_to "Sign Up Here", new_user_path, :method => "get" %>


</header>
  <body>
<div class="row">
  <div class="column" style="background-color:#bbb;"><%= link_to "Half Hour Walk", service_path(@halfhrwalk) %> <br><br>
    <div id="box"> <img src= 'https://st3.depositphotos.com/2250703/19397/i/1600/depositphotos_193978104-stock-photo-beautiful-brunette-lady-walking-with.jpg', alt: 'Lady Walking a Dog'>
    </div></div>
  <div class="column" style="background-color:#ddd;"><%= link_to "Full Hour Walk", service_path(@hrwalk)%><br><br>
    <div id="box"> <img src= 'https://cdn6.dissolve.com/p/D145_274_284/D145_274_284_1200.jpg' alt: 'Man Walking Dog'>
    </div></div>
  <div class="column" style="background-color:#ccc;"><%= link_to "Boarding", service_path(@overnight) %><br><br>
    <div id="box"> <img src= 'https://thumbs.dreamstime.com/z/young-man-sitting-floor-his-dog-home-shot-tilt-shot-lens-51579193.jpg' alt: 'Dog in Home'>
    </div></div>
  <div class="column" style="background-color:#ddd;"><%= link_to "Transport to Vet", service_path(@vet)%><br><br>
    <div id="box"><img src= 'https://st.focusedcollection.com/14026668/i/650/focused_173079804-stock-photo-vet-examining-teeth-dog-veterinary.jpg' alt: 'Dog at Vet'>
    </div></div>
  <div class="column" style="background-color:#bbb;"><%= link_to "Grooming", service_path(@groom)%><br><br>
    <div id="box"><img src= 'https://thumbs.dreamstime.com/z/dog-grooming-handsome-golden-retriever-getting-his-fur-dried-blower-groomer-49146750.jpg' alt: 'Dog Hairdryer'>
  </div></div>

<div class="footer">
  <p>contact us: Shari @flatiron  or Gabbie @flatiron</p>
</div>



</body>
</html>
