
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <title>Login</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:  seagreen;
  font-size: 25px;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: left;
  font-size: 10px;
}

/* Create three equal columns that floats next to each other */
.column {
  /*float: left;*/
  width: 20%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  border: 2px solid green;
  border-radius: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: right;
  font-size: 10px;
}
#box{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 80%;
    height: 50%;
    background:#f1f1f1;

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>



<h3></h3>


<br>
<br>


<p style = "font-family:Arial, Helvetica, sans-serif;font-size:100px; color:MediumSeaGreen;font-style:bold;background:lightgreen;">
    Must Love Dogs</p><p> <iframe src="https://giphy.com/embed/4Zo41lhzKt6iZ8xff9" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/4Zo41lhzKt6iZ8xff9">via GIPHY</a></p>
<p style = "font-family:georgia,garamond,serif;font-size:30px;font-style:italic;background:lightgreen;">


We love your dog as much as you do!!
</p>

<header>
<div class="header">
  <h5>Login</h5>
  <% if flash[:unauthenticated] %>
    <p style="color:red;"><%= flash[:unauthenticated] %></p>
  <% end %>

  <%= form_tag("/sessions") do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= submit_tag "Log in" %>
  <% end %>

  <p> New User? sign up here </p>


</header>
  <body>
<div class="row">
  <div class="column" style="background-color:#bbb;">Dog Walking <br>30 min<br><br>
    <div id="box"><img src="sessions/walk1.jpeg"  height="42" width="42">
    </div></div>
  <div class="column" style="background-color:#ddd;">Dog Walking<br>1 hour<br><br>
    <div id="box" >
    </div></div>
  <div class="column" style="background-color:#ccc;">Dog Boarding<br><br><br>
    <div id="box">
    </div></div>
  <div class="column" style="background-color:#ddd;">Dog Transport<br><br><br>
    <div id="box">
    </div></div>
  <div class="column" style="background-color:#bbb;">Dog Grooming<br><br><br>

  <div id="box">
  </div></div>

<div class="footer">
  <p>contact us: Shari @flatiron  or Gabbie @flatiron</p>
</div>



</body>
</html>
