<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <title>Login</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:  seagreen;
  font-size: 25px;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: left;
  font-size: 10px;
}

/* Create three equal columns that floats next to each other */
.column {
  /*float: left;*/
  width: 20%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  border: 2px solid green;
  border-radius: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: right;
  font-size: 10px;
}
#box{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 80%;
    height: 50%;
    background:#f1f1f1;
    border: 2px solid green;
    border-radius: 12px;

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>
<div><div id="box">


<h1> Sign your dog up for Must Love Dogs Services</h1>
<% if flash[:errors] %>
  <% flash[:errors].each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>
</div>
<div><div id="box">
<%= form_for @dog do |f| %>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <%= f.label :name %>(your dog's name)
  <%= f.text_field :name %><br/>
  <%= f.label :age %>
  <%= f.text_field :age %><br/>
  <%= f.label :size %>...small, medium, or large
  <%= f.text_field :size %><br/>
  <%= f.label :vet_name %>
  <%= f.text_field :vet_name %><br/>
  <%= f.label :food_name %>
  <%= f.text_field :food_name %><br/>
  <%= f.label :picture %>...insert link to your dog's photo
  <%= f.url_field :img_url %><br/>
  <%= f.submit %>
<% end %>
</div>
