<h1> Who's a good dog??? </h1>

<ul>
  <li>Name:..<%= @dog.name %></li>
  <li>Age:..<%= @dog.age %></li>
  <li>Size:..<%= @dog.size %></li>
  <li>Veterinarian Name:..<%= @dog.vet_name %></li>
  <li>Food:..<%= @dog.food_name %></li>
  <li>Owner:..<%=@dog.user.full_name %></li>

  <img src=<%= @dog.img_url%> >
  </ul>

<h2> Appointments </h2>
<ul>
  <% @appointments.each do |a| %>
  <li><%= a.find_caregiver.name + " - " + a.find_service.name%> </li>
  <% end %> 
</ul>


<%= link_to "back to owner", user_path(@dog.user) %><br>
<%= link_to "update", edit_dog_path(@dog) %><br>
<%= link_to "make a service appointment", new_appointment_path(@dog) %>

<%= button_to "delete", @dog, method: 'delete' %>
