<h1> Sign up for Must Love Dogs Service</h1>
<% if flash[:errors] %>
  <% flash[:errors].each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %> <br>
  <%= f.label :password %>
  <%= f.password_field :password %> <br>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %><br/>
  <%= f.label :email %>
  <%= f.email_field :email %><br/>
  <%= f.label :phone_number %>
  <%= f.phone_field :phone_number %><br/>
  <%= f.label :neighborhood %>
  <%= f.text_field :neighborhood %><br/>

<p> Enter Your Dog's Information:<br>
    <%= f.fields_for :dogs do |d| %>

      <%= d.label :name %>(your dog's name)
      <%= d.text_field :name %><br/>
      <%= d.label :age %>
      <%= d.text_field :age %><br/>
      <%= d.label :size %>...small, medium, or large
      <%= d.text_field :size %><br/>
      <%= d.label :vet_name %>
      <%= d.text_field :vet_name %><br/>
      <%= d.label :food_name %>
      <%= d.text_field :food_name %><br/>
      <%= d.label :picture %>...insert link to your dog's photo
      <%= d.url_field :img_url %><br/>
      <% end %> </p>
  <%= f.submit %>
<% end %>
