<h1>Our Valued Client:</h1>

<ul>
  <li>Name:  <%= @user.full_name %></li>
  <li>Email:  <%= @user.email %></li>
  <li>Phone Number:  <%=number_to_phone(@user.phone_number) %></li>
  <li>Neighborhood:  <%= @user.neighborhood %></li>
  <li>User ID:  <%= @user.id %></li>



  <%= link_to "update", edit_user_path(@user) %>
  <%= button_to "delete", @user, method: 'delete' %>


</ul>


<p> Add A New Dog for this client: </p>
<%=link_to "add new dog", new_dog_path(@dog)%>



<p>
<h2> This Client's Dog(s):</h2>

<p> Make a service appointment for your dog<br><br>
<%=link_to "30m walk", careservice_path%><br>
<%=link_to "1hr Walk", new_appointment_path%><br>
<%=link_to "Overnight Stay", new_appointment_path%><br>
<%=link_to "Grooming", new_appointment_path%><br>
<%=link_to "Trip to the Vet", new_appointment_path%><br>
<br><br>

<ul>
    <% @dogs.each do |dog| %>
    <b>Dog:  </b><%=link_to dog.name, dog_path(dog) %><br>
<h4> This Dog's Appointments:</h4>

    <% end %>
</ul>

</p>
