<%= form_for(@caregiver) do |f| %>
  <div class="field">
    <%= f.label :name %>:
    <%= f.text_field :name %><br>
    <%= f.label :bio %>:
    <%= f.text_area :bio %><br>
    <%= f.label :neighborhood %>:
    <%= f.text_field :neighborhood %><br>
    <%= f.label :picture %>:
    <%= f.url_field :picture_url %><br>
  </div>

  <div>
    <% Service.all.each do |service| %>
      <%= check_box_tag "caregiver[service_ids][]", service.id, f.object.services.include?(service) %>
      <%= service.name %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
