<h1>Welcome to <%=@caregiver.name%>'s Page</h1>

<ul> Bio: <%=@caregiver.bio %> <br><br>
Neighborhood: <%=@caregiver.neighborhood %> <br><br>
<img src=<%=@caregiver.picture_url%>> <br></ul>

Services You Provide:<br> <%@caregiver.services.each do |s| %>
<%= s.name %> <br>
<%end%>

<br>

<%=link_to "Update Your Profile or Services", edit_caregiver_path %>

<%= button_to('Delete Account', caregiver_path(@caregiver),
          method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
