<h1>Create a new 30M Walk for your dog!</h1>

<%= form_for @appointment do |f| %>
<%= f.hidden_field :service_id, :value => session[:service_id] %> 
<%= f.collection_select :dog_id, @dogs, :id, :name %> <br>
<%= f.collection_select :caregiver_id, @caregivers, :id, :name %> <br>

<%=f.submit%>
  <%end%>
