<h1>Create a new Appointment for your dog!</h1>

<%= form_for @appointment do |f| %>
<%= f.collection_select:service_id, @services, :id, name %>
<%= f.collection_select:caregiver_id, @caregivers, :id, name %>
  <%end%>

<%= f.fields_for :dogs do |d| %>
  <%= d.label :name %>(your dog's name)
  <%= d.text_field :name %><br/>
  <%end%>
